header {
    color: var(--default-color);
    background-color: #040b14;;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 15px;
    width: 300px;
    border-right: 1px solid;
    text-align: center;
    align-items: center;
}

.profile-img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid; 
    border-radius: 50%;
    box-shadow: 0 0 10px var(--default-color);
    transition: all 0.3s ease-in-out;
    border: 8px solid #363535;
}

h1, h2, h3 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.Name {
    color: white;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.Icon {
    color: white;
    display: inline-block;
    font-size: 16px;
    position: relative;
    margin: 0 5px;
    text-align: center;
}

.containers-socials {
    display: flex;
    align-items: center;
    gap: 20px; /* Espace entre chaque .socials */
    margin-left: 20px;
}

.socials{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #2d2e2f; /* cercle sombre */
    width: 35px;
    height: 35px;
    align-items: center;
}

.socials:hover {
    background-color: rgb(20, 157, 221);
    box-shadow: 0 0 10px var(--default-color);
}

nav{
    font-family: var(--nav-font);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 10px;
    white-space: nowrap;
    transition: 0.3s;
    color: #ffffff;
    margin-top: 20px;
}

.navicon{
    display: inline-block;
    line-height: 1;
    color: #ffffff;
    margin-left: 10px;
    align-items: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px; 
    margin-top: 6px;   
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
    text-align: center;
    font-size: 1.5em;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    padding: 10px 0;
    margin-left: 10px;
}

span {
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    color: #a7a1a1;
    font-size: 16px;
    font-family: "poppins", sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 400;
}

span:hover {
    color: white;
}


a:hover .navicon{
    color: rgb(20, 157, 221);
    border-radius: 5px;
}

.navicon:visited {
    color: rgb(20, 157, 221);
    border-radius: 5px;
}



a:visited {
    color: white;
    font-weight: bold;
}

span:visited {
    color: white;
    font-weight: bold;
}

.hero {
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-position: top;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    background-image: url('https://themewagon.github.io/iPortfolio/assets/img/hero-bg.jpg');
}

.Name1{
    color: white;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: "Raleway", sans-serif;
    font-size: 4em;
    text-align: center;
    margin-left: 20px;
    margin-top: 330px;
    position: absolute;
}

.Name2{
    color: white;
    display: block;
    unicode-bidi: isolate;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    text-align: center;
    margin-left: 20px;
    margin-top: 430px;
}

body{
    margin-left : 330px;
    margin-top: 0px;
    margin-right:0px;
    margin-bottom:0px;
    font-family: "Raleway", sans-serif;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.About {
    display: flex;
    justify-content: left;
    height: 100vh;
    position: relative;
    margin-top: 0px;
    margin-left: 15px;
}

.title_a{
    padding-top: 70px;
    margin: 0px;
    display: block;
    height: 10px;
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    color:#040b14
}

.text_a{
    padding-top: 140px;
    position: absolute;
    width: 100%;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

.line{
    width: 4%;
    height: 3.5px;
    background-color: rgb(20, 157, 221);
    margin-top: 130px;
}

.fig1{
    width: 30%;
    height: 50%;
    object-fit: cover;
    position: absolute;
    margin-top: 250px;
    margin-left: 0px;
    display: inline;
}

.img_a{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.fig2{
    width: 815px;
    height: 60%;
    object-fit: cover;
    position: absolute;
    margin-top: 250px;
    margin-left: 360px;
    display: inline;
}

.list_a{
    display: flex;
    justify-content: left;
    height: 40%;
    width: 45%;
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
}

.list_b{
    display: flex;
    justify-content: left;
    height: 40%;
    width: 45%;
    position: absolute;
    margin-top: 10px;
    margin-left: 400px;
}

.list_a1{
    list-style: none;
    padding-left: 0;
    margin-left: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    line-height: 1.5;
}

.list_a1 i{
    color: rgb(20, 157, 221);
    font-size: 20px;
}

.li_a {
    margin: 10px 0;
    text-align: left;
}

.text_a2 h2{
    color: #060606;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.li_a strong{
    margin-right: 5px;
}

.text_a3 h2{
    color: #060606;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
}

.text_a3{
    padding-top: 190px;
    position: absolute;
    width: 100%;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

.stat{
    width: 100%;
    position: absolute;
    height: 15%;
    margin-top: 800px;
}

.stat1{
    width: 20%;
    position: absolute;
    height: 100%;
    margin-left: 10px;
}

.stat2{
    width: 20%;
    position: absolute;
    height: 100%;
    margin-left: 300px;
}

.stat3{
    width: 25%;
    position: absolute;
    height: 100%;
    margin-left: 600px;
}

.stat4{
    width: 20%;
    position: absolute;
    height: 100%;
    margin-left: 900px;
}

.stat1_1{
    width: 35%;
    position: absolute;
    height: 100%
}

.stat1_2{
    width: 65%;
    position: absolute;
    height: 100%;
    margin-left: 35%;
}

.stat1_2_1{
    width: 100%;
    position: absolute;
    height: 50%;
}

.stat1_2_2{
    width: 100%;
    position: absolute;
    height: 50%;
    margin-top: 35%;
}

.stat1_1 i{
    padding-top: 8%;
    padding-left: 40%;
    color:  rgb(20, 157, 221);
    font-size: 40px;
    font-weight: 700;
    position: absolute;
}

.stat1_2_1 h2{
    color: #000000;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    font-family: "Arial", sans-serif;
}

.stat3 .stat1_2_2{
    margin-top: 28%;
}

.skills{
    width: 100%;
    position: absolute;
    height: 60%;
    margin-top: 960px;
    background-color: #f4fafd;
    margin-left: -12px;
}

.skills .title_a{
    margin-left: 10px;
}

.skills .line{
    margin-left: 10px;
}

.skills p{
    margin-left: 10px;
}

.skill1{
    width: 49%;
    position: absolute;
    height: 40%;
    margin-left: 10px;
    margin-top: 35px;
}

.skill2{
    width: 49%;
    position: absolute;
    height: 40%;
    margin-left: 50.5%;
    margin-top: 35px;
}

.skill1_1{
    width: 100%;
    position: absolute;
    height: 20%;
}

.skill1_2{
    width: 100%;
    position: absolute;
    height: 20%;
    margin-top: 10%;
}

.skill1_3{
    width: 100%;
    position: absolute;
    height: 25%;
    margin-top: 20%;
}

.skill1_1_1{
    width: 100%;
    position: absolute;
    height: 52%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill1_1_2{
    width: 100%;
    position: absolute;
    height: 25%;
    background-color: #dcdcdd;
    margin-top: 4%;
}

.p1{
    display: inline-block;
    padding-top: 10px;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
}

.p2{
    display: inline-block;
    margin-left: 0%;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    padding-top: 10px;
}

.skill1_1_1 .p2{
    text-align: left;
}

.skill1_1_2_1{
    width: 100%;
    position: absolute;
    height: 100%;
    background-color:rgb(20, 157, 221);
}

.skill1_1_2_2{
    width: 90%;
    position: absolute;
    height: 100%;
    background-color:rgb(20, 157, 221);
}

.skill1_1_2_3{
    width: 75%;
    position: absolute;
    height: 100%;
    background-color:rgb(20, 157, 221);
}

.skill1_1_2_4{
    width: 80%;
    position: absolute;
    height: 100%;
    background-color:rgb(20, 157, 221);
}

.skill1_1_2_5{
    width: 95%;
    position: absolute;
    height: 100%;
    background-color: rgb(20, 157, 221);
}

.skill1_1_2_6{
    width: 55%;
    position: absolute;
    height: 100%;
    background-color: rgb(20, 157, 221);
}

.Resume{
    margin-top: 700px;
    display: inline-block;
    justify-content: left;
    height: 100vh;
    position: relative;
    margin-left: 15px;
}

.Resume_text{
    width: 100%;
    height: 10%;
    margin-left: 0;
    padding-left: 0;
    margin-top: 30px;
}

.Resume_Block1{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    margin-left: 0;
    display: flex;
}

.Resume .line{
    margin-top: 130px;
}

.Block1_1{
    width:50%;
    height: 100%;
}

.Block1_2{
    width:50%;
    height: 100%;
   
}
.Nom1{
    width: 100%;
    height: 5%;
    font-size: 25px;
    font-weight: 700;
}

.Nom2{
    width: 100%;
    height: 27%;
    border-left-color: rgb(20, 157, 221);
    border-left-width: 2px;
    border-left-style:solid ;
    position: relative;
}

.Nom3{
    width: 100%;
    height: 5%;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}


.Nom2 h3{
    margin-top: 0px;
    margin-left: 15px;
    font-family:Raleway, "Sans Serif";
    color:#282626;
    margin-bottom: 0px;
}

.Nom2 p{
    margin-left: 15px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#000000;
    font-style: italic;
    font-size: 15px;
    margin-right: 2%;
}

.Nom2::before{
    content:"";
    position: absolute;
    left:-0.6vw;
    top: 0;
    width:0.8vw;
    height: 0.8vw;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(20, 157, 221);
    border-radius: 50%;
}



.Nom2 ul li{
    list-style: disc;
    text-align: left;
    margin-left: 45px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 17px;
}

.Nom2 h3{
    margin-left: 15px;
    font-family: Raleway, "Sans Serif";
    color:#6e6c6c;
}

.Nom2 p{
    margin-left: 15px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color:#000000;
    font-style: italic;
    font-size: 15px;
    display: block;
    margin-right: 2%;
}

.Nom2 .p1{
    font-family: "Raleway", "Sans Serif";
    margin-left: 30px;
    font-size: 15px;
    margin-right: 2%;
    margin-block: 4px;
    font-style: normal;
    font-weight: 510;
}

.Nom2 .p2{
    font-size: 15px;
    margin-top: 0px;
}

.Nom2 .p3{
    font-size: 16px;
    margin-right: 3%;
    font-style: normal;
}

.Block1_2 h3{
    margin-top: 0px;
    margin-left: 15px;
    font-family:Raleway, "Sans Serif";
    color:#282626;
    margin-bottom: 0px;
}

.Block1_2 .p1{
    font-family: "Raleway";
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
}

.Block1_2 .p2{
    margin-top:10px;
    margin-bottom:0px;
    font-style: italic;
    
}

.Block1_2 p{
    display: block;
    margin-top: 0px;
    margin-left: 15px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#000000;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 30px;
}

.Block1_2 ul li{
    list-style: disc;
    text-align: left;
    margin-left: 45px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 3%;
}

.Nom ul{
    margin-top: 40px;
}

.Block1_2_1{
    border-left-color: rgb(20, 157, 221);
    border-left-width: 2px;
    border-left-style:solid ;
    height: 93%;
}

.Nom5{
    position: relative;
}


.Nom5::before{
    content:"";
    position: absolute;
    left:-0.6vw;
    top: 0;
    width:0.8vw;
    height: 0.8vw;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(20, 157, 221);
    border-radius: 50%;
}

.Nom5 h3{
    color:#6e6c6c;
}

.Nom5 .p1{
    font-family: "Raleway", "Sans Serif";
    margin-left: 30px;
    font-size: 15px;
    margin-right: 2%;
    margin-block: 4px;
    font-style: normal;
    font-weight: 510;
}

.Portofolio{
    margin-top: 300px;
    display: inline-block;
    justify-content: left;
    height: 222vh;
    position: relative;
    margin-left: 15px;
    background-color:#f4fafd;
}

.Portofolio_text{
    width: 100%;
    height: 5%;
    margin-left: 0;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 0%;
}

.Bouton_Portfolio{
    width: 30%;
    height: 2%;
    margin-top: 0px;
    margin-left: 30%;
    justify-content: center;
    align-items: center;
    gap: 18px;
    display: flex;
}

.Bouton_Portfolio button{
    background-color: #f4fafd;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    border: #f4fafd;
}

.Bouton_Portfolio button:hover{
    color:  rgb(20, 157, 221);
    cursor: pointer;
}

.grid-container {
      display: grid;
      grid-template-columns: repeat(3, 32%); /* 3 colonnes de taille égale */
      grid-template-rows: repeat(4, 300px);  /* 4 lignes de 100px de haut */
      gap: 20px; /* espace entre les cases */
      padding: 20px;
      background-color: #f4fafd;
    }
.grid-item {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

.grid-item img{
    width:100%;
    height: 100%;
}

.Service{
    margin-top: 0px;
    display: inline-block;
    justify-content: left;
    height: 100vh;
    position: relative;
    margin-left: 15px;
}

.Service-contents{
    height: 50%;
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(3, 32%); 
    grid-template-rows: repeat(2, 170px);  
    gap: 20px; /* espace entre les cases */
    padding-top: 20px;
    padding-bottom: 20px;
}

.Service-contents-1{
    display: flex;
    width: 100%;
    height: 100%;
}

.Service-txt-1{
    width:20%;
    height:100%;
}

.Service-txt-2{
    width:78%;
    height:100%;
    margin-left: 2%;
    display:block;
}

.Service-txt-2-1{
    width: 100%;
    height: 30%;
}

.Service-txt-2-2{
    width: 100%;
    height: 70%;
}

.Service-txt-1 i{
    font-size: 28px;
    border-left: 40%;
    color: #ffffff;
}

.Service-txt-1 div{
    background-color: rgb(20, 157, 221);
    width:50px;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    height: 50px;
    display: flex;
    margin-top: 10%;
    border-radius: 50%;
}


.Service-txt-2-1 h3{
    display: block;
    margin-top: 0px;
    font-weight: 550;
    font-size: 20px;
    color: #000000;
}

.Service-txt-2-2 p{
    display: block;
    margin-top: 0px;
    padding-top: 10px;
    font-size: 15px;
    line-height: 20px;
}

.Service-contents-1:hover .Service-txt-1 i {
    color: rgb(20, 157, 221); /* Exemple : change la couleur de l'icône */
    transform: scale(1.2); /* Agrandit légèrement l'icône */
}

.Service-contents-1:hover .Service-txt-2-1 h3 {
    color: rgb(20, 157, 221); /* Change la couleur du titre */
}

.Service-contents-1:hover .Service-txt-1 div{
    border:2px solid rgb(20, 157, 221);
    background-color: #ffffff;
}

.Service-contents-1:hover{
    cursor: pointer;
}

